@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 27% 98%;
    --foreground: 219 35% 21%;

    --card: 0 0% 100%;
    --card-foreground: 219 35% 21%;

    --popover: 0 0% 100%;
    --popover-foreground: 219 35% 21%;

    --primary: 219 35% 21%;
    --primary-foreground: 210 40% 97%;

    --secondary: 213 24% 95%;
    --secondary-foreground: 219 35% 21%;

    --muted: 213 24% 95%;
    --muted-foreground: 217 20% 40%;

    --accent: 213 25% 94%;
    --accent-foreground: 219 35% 21%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 219 35% 21%;

    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}